---
layout: program
title: "Registrierung ESS 2026"
registrationstart: "2026-07-01T00:00:00+02:00"
deadline: "2026-08-30T23:59:59+02:00"
---

<div class="row justify-content-center">

    <div class="col-12">

        <p>Die Registrierung ist vom {% include date-german.html date=page.registrationstart
            showDayOfWeek=false showDay=true %}
            {{ formattedDate }} bis zum {% include date-german.html
            date=page.deadline
            showDayOfWeek=false showDay=true %}
            {{ formattedDate }} (23:59 Uhr, UTC+2) geöffnet.
        </p>

    </div>

    <div class="col">
        {% include registration-form.html %}
    </div>

    {% include registration-closed-overlay.html %}

</div>
