.myBorder {
    border-bottom: solid 1px darken($topbar-bg, 20%);
}

@media only screen {
    .row {
        margin-top:emCalc(20px) !important;
        margin-bottom:emCalc(20px);
    }
    #partner-list li {
        margin: emCalc(10px) 0 emCalc(30px) 0;
    }
    
}

.dots {
    border:none;
    background-image: url(../img/dots.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 150px;
    margin: 0 auto emCalc(20px) auto;
}

.ess-side-nav {
    @extend .panel;
    @extend .radius;
}

.checkbox-sub-label {
    color: $small-font-color;
    font-size: $small-font-size;
    margin-left: 1em;
    margin-bottom: 1pc;
    display: block;
}

.fullyBooked, .alert {
    color:red !important;
}

.strike {
    text-decoration:line-through;
}