/* Variable for path to webicon images */

$webicon-path: "../img/webicons";

/* Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com */
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; }

.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  
/* only copied classes for Twitter and Github */
 .no-svg .webicon.twitter {
  background: url("#{$webicon-path + '/webicon-twitter-m.png'}"); }

.no-svg .webicon.twitter.large {
  background: url("#{$webicon-path + '/webicon-twitter.png'}"); }

.no-svg .webicon.twitter.small {
  background: url("#{$webicon-path + '/webicon-twitter-s.png'}"); }

.svg .webicon.twitter {
  background: url("#{$webicon-path + '/webicon-twitter.svg'}"); }
  
.no-svg .webicon.github {
  background: url("#{$webicon-path + '/webicon-github-m.png'}"); }

.no-svg .webicon.github.large {
  background: url("#{$webicon-path + '/webicon-github.png'}"); }

.no-svg .webicon.github.small {
  background: url("#{$webicon-path + '/webicon-github-s.png'}"); }

.svg .webicon.github {
  background: url("#{$webicon-path + '/webicon-github.svg'}"); }
