---
layout: default
title: "Über die Edirom Summer School"
---

<section>
    <h2>Edirom Summer School</h2>
    <div class="container">
        <div class="row py-3">
            <p>Die Edirom Summer School (ESS) findet regelmäßig im September im Heinz-Nixdorf-Institut der
                Universität Paderborn statt.
                Sie richtet sich mit unterschiedlichen Kursen zu konzeptionellen und
                technischen Fragestellungen digitaler Editionsarbeit sowohl an Einsteiger*innen als auch
                Fortgeschrittene.</p>

            <p>Das Kernangebot an Kursen zu den Auszeichnungsstandards der <a href="https://www.tei-c.org/">Text
                    Encoding Initiative (TEI)</a> und der <a href="http://music-encoding.org">Music Encoding Initiative
                    (MEI)</a> sowie zu den <a href="https://github.com/Edirom/Edirom-Online">Edirom Tools</a> wird
                jährlich um Angebote zu weiteren Themen ergänzt. Darüber hinaus haben die Teilnehmer*innen die
                Gelegenheit, im Rahmen der Spotlights eigene Projekte vorzustellen und in Austausch zu treten. Seit 2016
                findet zur Eröffnung am Montagabend eine Keynote zu aktuellen DH-Forschungsfragen statt.</p>

            <p>Seit 2010 wird die ESS vom
                <a href="https://edirom.de" target="_blank">Virtuellen
                    Forschungsverbund Edirom</a> am <a href="https://muwi-detmold-paderborn.de"
                    title="Musikwissenschaftlichen Seminar Detmold/Paderborn">Musikwissenschaftlichen
                    Seminar Detmold/Paderborn</a> (Universität Paderborn und
                Hochschule für Musik Detmold) organisiert – von 2013 bis 2017
                außerdem in Kooperation und zusammen mit dem BMBF-Projekt <a href="https://portal-de.dariah.eu"
                    title="Digital Research Infrastructure for the Arts and Humanities">DARIAH-DE</a>
                und seit 2014 in Kooperation mit dem <a href="https://zenmem.de"
                    title="Zentrum Musik – Edition – Medien">Zentrum Musik –
                    Edition – Medien (ZenMEM)</a>.
            </p>

            <p>Einen
                vollständigen Kursüberblick erhalten Sie in den jeweiligen
                Jahresprogrammen. Bei Fragen zur ESS stehen wir Ihnen gerne zur <a
                    href="{{ 'impressum.html' | relative_url }}">Verfügung</a>.
            </p>
        </div>
    </div>
</section>

<hr />

<section>
    <h2>Eindrücke</h2>
    <div class="gallery container gap-2">
        {% for image in site.static_files %}
            {% if image.path contains 'img/impressions'
                and image.path contains 'gif' %}
            <a href="{{ image.path | replace: '.gif', '.jpg' | relative_url }}"
               data-lightbox-index="{% increment my_counter %}"
               class="about-lightbox-trigger">
                <img class="img-thumbnail img-fluid" alt="ESS-impressions"
                     src="{{ image.path | relative_url }}"/>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</section>

<div class="modal fade about-lightbox-modal" id="aboutGalleryModal"
     tabindex="-1" aria-labelledby="aboutGalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-secondary border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="aboutGalleryModalLabel">Eindrücke</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0 position-relative">
                <button type="button"
                        class="btn btn-dark about-lightbox-nav about-lightbox-prev position-absolute top-50 start-0 translate-middle-y ms-2"
                        id="aboutLightboxPrev"
                        aria-label="Vorheriges Bild">
                    &lt;
                </button>
                <img id="aboutLightboxImage" class="img-fluid w-100" src="" alt=""/>
                <button type="button"
                        class="btn btn-dark about-lightbox-nav about-lightbox-next position-absolute top-50 end-0 translate-middle-y me-2"
                        id="aboutLightboxNext"
                        aria-label="Nächstes Bild">
                    &gt;
                </button>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <p class="text-white-50 mb-0 d-none" id="aboutLightboxCaption"></p>
            </div>
        </div>
    </div>
</div>

<script src="{{ '/assets/js/about.lightbox.js' | relative_url }}"></script>
