---
layout: default
title: "Archiv"
---

<div class="row">

	<div class="col-md-6">
		<h1>News-Archiv</h1>
		{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
		{% for year in postsByYear %}
		<div>
			<h3>{{ year.name }}</h3>
			<ul>
				{% for post in year.items %}
				{% include date-german.html date=post.date showDay=true %}
				<li><a href="{{ post.url }}">{{ formattedDate }}: {{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}

	</div>

	<div class="col-md-6">
		<h1>Programm-Archiv</h1>
		<ul>
			{% assign programs = site.archiv | where_exp:"item", "item.title contains 'Kursprogramm'" | sort: 'title' | reverse %}
			{% for page in programs %}
			<li><a href="{{ page.url }}">{{page.title}}</a></li>
			{% endfor %}
		</ul>
	</div>

</div>
