---
layout: default
title: "Startseite"
---

<section>
    <div class="container text-center py-3">
        <div class="row g-3">
            <div class="col-10 col-sm-6">
                <img src="{{ '2024/img/ViFE-ESS-logo.png' | relative_url }}" class="img-fluid mx-auto d-block"
                    alt="Edirom Logo" />
            </div>
            <div class="col-sm-6">
                <div class="card bg-light py-3">
                    <div class="card-body">
                        <p class="text-center">
                            <b>16. Edirom Summer School</b>
                            <br /><b>8. bis 12. September 2025</b>
                            <br />Heinz-Nixdorf-Institut
                            <br />Universität Paderborn
                        </p>
                        <div>
                            {% include index-counter.html %}
                        </div>
                        <div><br/><p><a href="/2025/registrierung.html">Jetzt registrieren!</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center py-3">
        <div>
            <div class="card-header bg-primary">
                <h1 class="text-light">Edirom Summer School</h1>

                <p>Die Edirom Summer School beschäftigt sich mit Forschungsfragen zu digitaler Editionsarbeit sowie
                    Digital Humanities,
                    insbesondere in Workshops zu TEI, MEI und den Edirom-Tools. <a href="about.html">Mehr erfahren</a>
                </p>
            </div>

        </div>
    </div>
</section>

<section>

    <div class="container py-5">
        <div class="row g-3">
            <div class="col-sm-6">
                <h2>Aktuelles</h2>
                {% for post in site.posts limit: 2 %}
                <div class="card bg-light my-4">
                    <div class="card-body">
                        <h3>{{post.title}}</h3>
                        <div class="row g-3">
                            <div class="col-sm-8">
                                <p class="card-text">{{ post.excerpt | strip_html }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="byline"> {% include date-german.html date=post.date showDay=true %}{{ author
                                    }}{{ formattedDate }}</p>
                            </div>
                        </div>
                            <div>
                                <a class="btn btn-primary" href="{{post.url}}" role="button">zum Beitrag</a>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="col-sm-6">
                <h2>Keynote</h2>
                {% include index-keynote.html %}
            </div>
        </div>
    </div>
    </div>

</section>