---
layout: program
title: "Registrierung ESS 2022"
deadline: "2022-09-03T23:59:59+02:00"
---

<div class="row justify-content-center">

    <div class="col-12">

        <p>Die Registrierung ist bis zum 03. September 2022 (23:59 Uhr CET) geöffnet<br/>
            Bitte folgen Sie uns auch auf <a href="https://twitter.com/edirom">Twitter</a>
            für aktuelle Ankündigungen.
        </p>

    </div>

    <div class="col">
        {% include registration-form.html %}
    </div>

    {% include registration-closed-overlay.html %}

</div>
