---
layout: program
title: "Registrierung ESS 2022"
deadline: "2022-09-04T23:59:59+02:00"
---

<div class="row justify-content-center">

    <div class="col-12">

        <p>Ab Sommer 2022 können Sie sich hier für die 13. Edirom-Summer-School
            2022 registrieren.
            Bitte folgen Sie uns auch auf <a href="https://twitter.com/edirom">Twitter</a>
            für aktuelle Ankündigungen.
        </p>

    </div>

    <div class="col">
        {% include registration-form.html %}
    </div>

<!--    {% include registration-closed-overlay.html %}-->

</div>
