<footer class="d-none d-lg-flex">
    <div class="container">
        <nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-lg row">
            <div class="col-md-3 text-center">
                <a class="m-1 text-secondary text-decoration-none"
                   href="{{ '/impressum.html' | relative_url }}">Impressum</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="m-1" href="https://www.edirom.de"
                   target="_blank"><img
                        src="{{ '/assets/img/ViFE-logo-s.png' | relative_url }}"
                        alt="ViFE Logo"/></a>
                <a class="m-1" href="https://www.uni-paderborn.de"
                   target="_blank"><img
                       src="{{ '/assets/img/UPB_Logo_DE_vierfarbig_CMYK.png' | relative_url }}"
                        alt="Universität Paderborn Logo"/></a>
                <a class="m-1" href="https://www.zenmem.de"
                   target="_blank"><img
                        src="{{ '/assets/img/ZenMEM_dunkel.png' | relative_url }}"
                        alt="ZenMEM Logo"/></a>
            </div>

            <div class="col-md-3 text-center">
                <a class="btn btn-primary mx-1 border-0 rounded-circle"
                   href="https://github.com/Edirom"
                   role="button"><i class="fab fa-github fa-2x"></i></a>
            </div>
        </nav>
    </div>
</footer>
