<footer>
    <div class="container">
        <nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-lg row">
            <div class="col-md-3 text-center">
                <a class="m-1 text-secondary text-decoration-none" href="{{ '/impressum.html' | relative_url }}">Impressum</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="m-1" href="https://www.edirom.de" target="_blank"><img src="{{ '/assets/img/ViFE-logo-s.png' | relative_url }}"/></a>
                <a class="m-1" href="https://www.uni-paderborn.de" target="_blank"><img src="{{ '/assets/img/UPB_Logo.png' | relative_url }}"/></a>
                <a class="m-1" href="https://www.zenmem.de" target="_blank"><img src="{{ '/assets/img/ZenMEM_dunkel.png' | relative_url }}"/></a>
            </div>

            <div class="col-md-3 text-center">
                <a class="btn btn-primary m-1 border-0 rounded-circle"
                   style="background-color: #55acee;"
                   href="https://twitter.com/edirom"
                   role="button"><i class="fab fa-twitter fa-2x"></i></a>
                <a class="btn btn-primary m-1 border-0 rounded-circle"
                   style="background-color: #333333;"
                   href="https://github.com/Edirom"
                   role="button"><i class="fab fa-github fa-2x"></i></a>
            </div>
        </nav>
    </div>
</footer>
