<div class="container py-3 bg-light">
    <div class="row">
        <div class="col text-center">
            <h1>Unterstützt durch</h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <a class="m-1" href="https://text-plus.org/"
                target="_blank"><img width="125px"
                    src="{{ '/assets/img/textplus_logo_RGB.png' | relative_url }}"
                    alt="TextPlus Logo"/></a>
        </div>
    </div>
</div>
    