<h2>Keynote</h2>

<div class="card text-center">
    <div class="card-header bg-primary">
        <h3>Eröffnungskeynote <br>8. September 2025, 18:15 Uhr</h3>
    </div>
    <div class="card-body team-member">

        <!-- <figure>
            <img src="{{ '/assets/img/xx-yy-thumb.jpg' | relative_url }}"
                                     alt="Foto von" />
            <figcaption>
                <h3>{{yy[0].authors[0]}}</h3>
            </figcaption>
        </figure>
        <p>{{yy[0].title}}</p>
                                <a href="{{ '/contributions/Keynote-yy.html' | relative_url }}"
                                   class="card-link"></a> -->
        <p>Nähere Informationen folgen in Kürze</p>
    </div>
</div>