{% assign days = "Mo,Di,Mi,Do,Fr" | split: "," %}
{% for i in days %}
<td>
    {% assign y = i | append: include.slot %}
    {% assign curClasses = classes | where_exp:"item",
    "item.slots contains y" %}
    <ul class="list-unstyled">
        {% for class in curClasses %}
        <li class="{{ class.label | escape }} slot">
            <strong class="title">
                <a href="#{{ class.label }}">{{ class.title-short }}</a>
            </strong>
            <br/>
            <a
               {% if rooms[class.room].url %}
                href="{{ rooms[class.room].url }}"
                class="room"
               {% else %}
               class="room disabled"
               {% endif %}>
                {{ rooms[class.room].name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</td>
{% endfor %}
