<div class="table-responsive" id="program-table-container">
    <a id="print-program-button" class="float-end" href="#">
        <i class="fa-solid fa-print"></i>
    </a>
    <div class="d-flex justify-content-between align-items-center d-none">
        <img src="{{ '2024/img/ViFE-ESS-logo.png' | relative_url }}"
             width="200" alt="ViFE-ESS-Logo"
             class="img-fluid"/>
        {% assign current-year = page.path | slice: 8, 4 %}
        <h2>Edirom Summer School
            {{ current-year }}</h2>
    </div>
    <table class="table table-sm text-center" id="program-table">
        <thead>
            <tr>
                <th scope="row"></th>
                {% for date in seenDates %}
                {% include date-german.html date=date
                showDayOfWeek=true showDay=true %}
                <th scope="col">{{ formattedDate | truncatewords: 3, "" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">9:15<br/>–<br/>10:45</th>
                {% include program-table-td.html slot="1" %}
            </tr>
            <tr>
                <th scope="row">11:15<br/>–<br/>12:45</th>
                {% include program-table-td.html slot="2" %}
            </tr>
            <tr class="break" style="break-after: page">
                <td colspan="6"></td>
            </tr>
            <tr>
                <th scope="row">15:15<br/>–<br/>15:45</th>
                {% include program-table-td.html slot="3" %}
            </tr>
            <tr>
                <th scope="row">16:15<br/>–<br/>17:45</th>
                {% include program-table-td.html slot="4" %}
            </tr>
            <tr class="break">
                <td colspan="6"></td>
            </tr>
            <tr>
                <th scope="row">18:15<br/>–<br/>19:45</th>
                {% include program-table-td.html slot="5" %}
            </tr>
            <tr>
                <th scope="row">19:00<br/>–<br/>22:00</th>
                {% include program-table-td.html slot="6" %}
            </tr>
        </tbody>
    </table>
    <script>
        document
            .getElementById("print-program-button")
            .addEventListener("click", function (event) {
                event.preventDefault();

                const program =
                    document.getElementById("program-table-container");
                const opt = {
                    margin: 6,
                    filename: "ESS-Programm.pdf",
                    html2canvas: {
                        scale: 2,
                        onclone: (clonedDoc) => {
                            const style = clonedDoc.createElement("style");
                            style.textContent = "" +
                                "#print-program-button { display: none !important; }" +
                                "#program-table-container > div { display: flex !important; }";
                            clonedDoc.head.appendChild(style);
                        }
                    },
                    jsPDF: {
                        unit: "mm",
                        format: "a4",
                        orientation: "portrait"
                    }
                };

                html2pdf().set(opt).from(program).save();
            });
    </script>

</div>
