<div class="row my-4">
    {% assign current-year = page.path | slice: 8, 4 %}
    {% assign classes-path = current-year | append: '/classes/' %}
    {% assign classes = site.archiv | where_exp:"item", "item.path contains
    classes-path" | sort_natural: "title-short" %}

    {% comment %}
        linke Spalte = Menüeinträge
    {% endcomment %}
    <div class="col-lg-4 col-xl-3 mb-4 mb-lg-0">
        <div class="list-group shadow-sm" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active"
               id="overview-list"
               data-bs-toggle="list" href="#overview" role="tab"
               aria-controls="overview" aria-selected="true">Übersicht</a>
            {% for class in classes %}
            <a class="list-group-item list-group-item-action"
               id="{{ class.label }}-list"
               data-bs-toggle="list" href="#{{ class.label }}" role="tab"
               aria-controls="{{ class.label }}" aria-selected="false">{{ class.title-short }}
                <small>({{ class.lang }})</small>
                {% if class.full %}
                <span class="text-warning">(ausgebucht)</span>
                {% endif %}</a>
            {% endfor %}
        </div>
    </div>

    {% comment %}
        rechte Spalte = Kursbeschreibungen
    {% endcomment %}
    <div class="col-lg-8 col-xl-9">
        <div class="tab-content border rounded-3 shadow-sm p-3 p-lg-4 bg-body" id="nav-tabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-list" tabindex="0">
                {% if page.programm_img %}
                <a href="{{ page.programm_pdf | relative_url }}"
                   title="Edirom–Summer–School-Programm"
                   target="_blank">
                    <img class="img-fluid"
                         src="{{ page.programm_img | relative_url }}"
                         alt="Programmübersicht"/></a>
                {% else %}
                <span>Keine Übersicht verfügbar</span>
                {% endif %}
            </div>
            {% for class in classes %}
            <div class="tab-pane fade" id="{{ class.label }}" role="tabpanel" aria-labelledby="{{ class.label }}-list" tabindex="0">
                <h2>{{ class.title }}</h2>
                <h4>Dozent*innen</h4>
                <ul class="teachers mb-4">
                    {% for teacher in class.teachers %}
                    <li>{{ teacher }}</li>
                    {% endfor %}
                </ul>
                <h5>Zeiten</h5>
                <ul class="slots mb-4">
                    {% assign thisYearsTimeslots =
                    site.data.timeslots[current-year] %}
                    {% for slot in class.slots %}
                        <li>
                        {% assign currentDate = thisYearsTimeslots[slot].date %}
                        {% include date-german.html date=currentDate
                            showDayOfWeek=true showDay=true %}
                        {{ formattedDate | truncatewords: 3, "" }},
                         {{ thisYearsTimeslots[slot].time_start }}–{{
                            thisYearsTimeslots[slot].time_end }} Uhr
                        </li>
                    {% endfor %}
                </ul>
                {% if class.room %}
                <h5>Raum: {{ class.room }}</h5>
                {% endif %}
                <dl>
                    {% unless class.label == "keynote" %}
                    <dt>Kursbeschreibung</dt>
                    {% endunless %}
                    <dd>{{ class }}</dd>
                    {% if class.label == "keynote" %}
                    <dt>Vortragssprache</dt>
                    {% else %}
                    <dt>Kurssprache</dt>
                    {% endif %}
                    <dd>{{ class.lang | capitalize }}</dd>
                    {% if class.requirements %}
                    <dt>Voraussetzungen/Vorkenntnisse</dt>
                    <dd>{{ class.requirements | join: "; " }}</dd>
                    {% endif %}
                    {% if class.software %}
                    <dt>Software</dt>
                    <dd>{{ class.software | join: "; " }}</dd>
                    {% endif %}
                    {% if class.target-audience %}
                    <dt>Zielgruppe</dt>
                    <dd>{{ class.target-audience }}</dd>
                    {% endif %}
                    <dt>Kosten</dt>
                    {% if class.label == "getTogether" %}
                    <dd>Auf eigene Kosten.</dd>
                    {% else %}
                    <dd>{{ class.costs }}&thinsp;€</dd>
                    {% endif %}
                    {% if class.specials %}
                    <dt>Besonderheiten</dt>
                    <dd>{{ class.specials | join: "; " }}</dd>
                    {% endif %}
                </dl>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
