{% assign days = "Mo,Di,Mi,Do,Fr" | split: "," %}
{% for i in days %}
<td>
    {% assign y = i | append: include.slot %}
    {% assign curClasses = classes | where_exp:"item",
    "item.slots contains y" %}
    <ul class="list-unstyled">
        {% for class in curClasses %}
        <li class="{{ class.room | escape }} slot">
            <strong class="title">{{ class.title-short }}</strong>
            <br/>
            <span class="room">{{ class.room }}</span>
        </li>
        {% endfor %}
    </ul>
</td>
{% endfor %}
