<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="staticBackdropLabel">Anmeldephase geschlossen
                </h5>
            </div>
            <div class="modal-body">
                Die Anmeldung zur Edirom-Summer-School {{ current-year }}
                findet vom
                {% include date-german.html date=page.registrationstart
                showDayOfWeek=false showDay=true %}
                {{ formattedDate }}
                bis zum
                {% include date-german.html date=page.deadline
                showDayOfWeek=false showDay=true %}
                {{ formattedDate }}
                statt.
                <br/>
                Hinweise zum aktuellen Programm finden Sie unter <a
                    href="{{ current-year | append: '/programm.html' | relative_url }}"
            >Kursprogramm</a>, alle älteren Jahrgänge im <a
                    href="{{ 'archiv.html' | relative_url }}">Archiv</a>.
            </div>
            <div class="modal-footer">
                <a href="{{ '/' | relative_url }}"
                   class="btn btn-primary btn-lg"
                   tabindex="-1" role="button" aria-disabled="true">Startseite
                </a>
            </div>
        </div>
    </div>
    <script>
        let now = Date.now(),
            anmeldebeginn = Date.parse('{{ page.registrationstart }}'),
            anmeldeschluss = Date.parse('{{ page.deadline }}') ;
        if(anmeldebeginn > now || now > anmeldeschluss) {
            $('#staticBackdrop').modal('show');
        }
    </script>
</div>
