<form class="needs-validation" name="form1" method="post" enctype="multipart/form-data" action="formmail.php" novalidate="true">
    {% assign current-year = page.path | slice: 8, 4 %}
    <input type="hidden" name="recipients" value="essbe_gaedirom.de" />
    <input type="hidden" name="required" value="vorname:Ihr Vorname,nachname:Ihr Nachname,email:Ihre E-Mail" />
    <input type="hidden" name="subject"
           value="[ESS{{ current-year }}] Anmeldung" />
    <input type="hidden" name="good_template" value="form_ok.html" />
    <input type="hidden" name="bad_template" value="form_bad.html" />
    <input type="hidden" name="derive_fields" value="realname=vorname+nachname,imgverify=g-recaptcha-response,arverify=imgverify" />
    <input type="hidden" name="csvfile" value="anmeldungen{{ current-year }}.csv" />
    <input type="hidden" name="csvcolumns" value="nachname,vorname,email,kurse,gebuehr,kommentar" />
    <input type="hidden" name="autorespond"
           value="PlainTemplate=autorespond.txt,Subject=[ESS{{ current-year }}] Anmeldebestätigung,FromAddr=essbe_gaedirom.de" />
    <input type="hidden" name="mail_options"
           value="CharSet=utf-8" />

    <div class="row">

        <div class="col">
            <fieldset class="kurse">
                <legend>Kursangebot</legend>

                {% assign current-year = page.path | slice: 8, 4 %}
                {% assign classes-path = current-year | append: '/classes/' %}
                {% assign classes =
                site.archiv | where_exp:"item", "item.path contains
                classes-path" | sort_natural: "title" %}
                {% assign thisYearsTimeslots =
                site.data.timeslots[current-year] %}
                
                {% for class in classes %}
                <div class="form-check mb-2">
                    <input type="checkbox" id="{{ class.label }}"
                           name="kurse[]"
                           value="{{ class.title-short }} ({{ class.lang }})"
                           class="form-check-input"
                           {% if class.full %}
                           disabled="disabled"
                           {% else %}
                           data-slots="{{ class.slots | join: ' ' }}"
                           {% endif %}
                           costs="{{ class.costs }}"
                            />
                    <label for="{{ class.label }}" class="form-check-label">
                        {{ class.title }}
                        {% if class.full %}
                        <span class="text-warning">(ausgebucht)</span>
                        {% endif %}
                    </label>
                    <small class="form-text text-muted">Beginn:
                        {% assign startSlot =  class.slots[0] %}
                        {% assign endSlot =  class.slots.last %}

                        {% assign currentDate = thisYearsTimeslots[startSlot].date %}
                        {% include date-german.html date=currentDate
                        showDayOfWeek=true showDay=true %}
                        {{ formattedDate | truncatewords: 3, "" }},
                        {{ thisYearsTimeslots[startSlot].time_start }} Uhr
                        <br/>Ende:
                        {% assign currentDate = thisYearsTimeslots[endSlot].date %}
                        {% include date-german.html date=currentDate
                        showDayOfWeek=true showDay=true %}
                        {{ formattedDate | truncatewords: 3, "" }},
                        {{ thisYearsTimeslots[endSlot].time_end }} Uhr
                        <br/>
                        Teilnahmegebühr: {{ class.costs }}€
                    </small>
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Ihre Kurse</legend>
                <div id="basket">
                    <div id="gebuehrDiv" class="form-group row">
                        <label for="gebuehr" class="col-form-label col-sm-4">Teilnahmegebühr</label>
                        <div class="col-sm-2 col-form-label">
                            <input type="hidden" name="gebuehr" id="gebuehr" class="form-control" readonly><span id="costsTotal">0</span>€</input>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Persönliche Angaben</legend>

                <div id="vornameDiv" class="form-group row">
                    <label for="vorname" class="col-form-label col-sm-2">Vorname</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Ihr Vorname" name="vorname" id="vorname" class="form-control" required="required"/>
                        <div class="invalid-feedback">Wir benötigen Ihren Vornamen für die Anmeldung</div>
                    </div>
                </div>
                <div id="nachnameDiv" class="form-group row">
                    <label for="nachname" class="col-form-label col-sm-2">Nachname</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Ihr Nachname" name="nachname" id="nachname" class="form-control" required="required"/>
                        <div class="invalid-feedback">Wir benötigen Ihren Nachnamen für die Anmeldung</div>
                    </div>
                </div>
                <div id="emailDiv" class="form-group row">
                    <label for="email" class="col-form-label col-sm-2">E-Mail</label>
                    <div class="col-sm-10">
                        <input type="email" placeholder="Ihre E-Mail-Adresse" name="email" id="email" class="form-control" required="required"/>
                        <div class="invalid-feedback">Bitte geben Sie eine gültige Email-Adresse ein</div>
                    </div>
                </div>
                </fieldset>
            
            <fieldset>
                <legend><small>Studierende (UPB/HfM-DT)</small></legend>
                    <input type="checkbox" id="studi"
                        name="studi"
                        value="studierende"
                        class="form-check-input" style="margin-left: 0px;"
                    />
                <small class="form-text text-muted"  style="margin-left: 18px;">Ich bin an der Universität Paderborn/Hochschule für Musik Detmold eingeschrieben und besuche die Kurse als Lehrveranstaltung. (Hochschule und Matrikel-Nr. bitte im Kommentar angeben!)
                    </small>
            </fieldset>

            <fieldset>
                <legend>Kommentar</legend>
                <textarea
                        placeholder="Sie können uns hier einen Kommentar hinterlassen" name="kommentar" id="kommentar" class="form-control" rows="3"></textarea>
            </fieldset>

            <div class="row mt-3">
                <noscript
                        style="border: 1px solid red; padding: 2em;">Für die
                    korrekte Funktionsweise des Formulars wird Javascript
                    benötigt!</noscript>
                <script src="https://www.google.com/recaptcha/api.js" async
                        defer></script>
                <div class="g-recaptcha col"
                     data-sitekey="6LehmiYTAAAAACjoZFLWSSR8AVe44FXp3pwhIel3"></div>
                <div class="col mt-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Senden</button>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    // Example starter JavaScript from https://getbootstrap.com/docs/4.6/components/forms/#custom-styles
    // for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false ||
                        document.getElementById('g-recaptcha-response').value.length === 0) {
                        // add an extra warning if recaptcha is not solved
                        if(document.getElementById('g-recaptcha-response').value.length===0) {
                            $('.g-recaptcha span.invalid-feedback').remove();
                            $('.g-recaptcha').append('<span class="invalid-feedback">Bitte das Captcha ausfüllen</span>');
                            $('.g-recaptcha span.invalid-feedback').show();
                            $('.g-recaptcha').css('border', '1px solid red');
                        }
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    // Javascript for disabling inputs of concurrent workshops
    function conflict(kursElem) {

        // get the slot labels (e.g. 'Mi1', 'Mi2') for the current input
        let curSlots = $(kursElem).attr('data-slots').split(' ');

        // if checked, disable all concurrent classes
        if (kursElem.checked) {
            // iterate over the current slot labels and simply
            // disable all inputs with the same label
            $(curSlots).each(function(a,b){
                $('input[data-slots~=' + b + ']').attr('disabled',
                    true);
            })
            // since the above loop disables every match,
            // re-enable here for current input
            $(kursElem).attr('disabled', false);
        }

            // otherwise re-enable matching inputs
            // this is a bit complicated, since we need to look out
        // for cross matches
        else {
            // iterate over the current slot labels
            $(curSlots).each(function(a,slot){
                // ... and iterate over all matching inputs
                $('input[disabled][data-slots~=' + slot + ']').each(function(b,curInput) {
                    let curInputSlots =
                            $(curInput).attr('data-slots').split(' '),
                        counter = 0;
                    // ... and its slot labels to check whether there
                    // is any other checked input with the same label
                    $(curInputSlots).each(function(x,y) {
                        counter+= $('input:checked[data-slots~=' + y +
                            ']').length;
                    })
                    if(counter === 0) {
                        $(curInput).attr('disabled', false);
                    }
                })
            })
        }
    }
    
     //adaption to https://stackoverflow.com/questions/29397155/javascript-calculate-total-price-of-items
    //by Dennis
    var total = 0;
    $(".kurse").on('click', ".form-check-input", function() {
        $(this.parentNode).appendTo("#basket");
        getTotal();
    });
    $("#basket").on('click', ".form-check-input", function() {
        $(this.parentNode).appendTo(".kurse");
        getTotal();
    });

     function getTotal(){
         total = 0;
         if(document.getElementById("studi").checked == true) {
            $('#costsTotal').text("0");
         } else {
            if($("#basket").find('.form-check-input').length == 0) {
                $('#costsTotal').text("0");
            } else{
                $("#basket").find('.form-check-input').each(function(i){
                   total += parseInt($(this).attr('costs'));
                   $('#costsTotal').text(total);
                });
            }
         }
     };
    
    $('.kurse input').on('change', function() {
        conflict(this);
        sortList();
    });
    $('#studi').on('change', function() {
        getTotal();
    });
    
    function sortList() {
      var list, i, switching, b, shouldSwitch;
      list = document.querySelector(".kurse");
      switching = true;
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // start by saying: no switching is done:
        switching = false;
        b = list.getElementsByTagName("div");
        // Loop through all list-items:
        for (i = 0; i < (b.length - 1); i++) {
          // start by saying there should be no switching:
          shouldSwitch = false;
          /* check if the next item should
          switch place with the current item: */
          if (b[i].querySelector(".form-check-label").innerText > b[i + 1].querySelector(".form-check-label").innerText) {
            /* if next item is alphabetically
            lower than current item, mark as a switch
            and break the loop: */
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark the switch as done: */
          b[i].parentNode.insertBefore(b[i + 1], b[i]);
          switching = true;
        }
      }
    }
</script>
