<form class="needs-validation" name="form1" method="post" enctype="multipart/form-data" action="formmail.php" novalidate="novalidate">
    {% assign current-year = page.path | slice: 8, 4 %}
    <input type="hidden" name="recipients" value="essbe_gaedirom.de" />
    <input type="hidden" name="required" value="vorname:Ihr Vorname,nachname:Ihr Nachname,email:Ihre E-Mail" />
    <input type="hidden" name="subject"
           value="[ESS{{ current-year }}] Anmeldung" />
    <input type="hidden" name="good_template" value="form_ok.html" />
    <input type="hidden" name="bad_template" value="form_bad.html" />
    <input type="hidden" name="derive_fields" value="realname=vorname+nachname,imgverify=g-recaptcha-response,arverify=imgverify" />
    <input type="hidden" name="csvfile" value="anmeldungen{{ current-year }}.csv" />
    <input type="hidden" name="csvcolumns"
           value="nachname,vorname,email,kurse,gebuehr,studierende,kommentar" />
    <input type="hidden" name="autorespond"
           value="PlainTemplate=autorespond.txt,Subject=[ESS{{ current-year }}] Anmeldebestätigung,FromAddr=essbe_gaedirom.de" />
    <input type="hidden" name="mail_options"
           value="CharSet=utf-8" />

    <div class="row">

        <div class="col">
            <fieldset class="kurse">
                <legend>Kursangebot</legend>

                {% assign current-year = page.path | slice: 8, 4 %}
                {% assign classes-path = current-year | append: '/classes/' %}
                {% assign classes =
                site.archiv | where_exp:"item", "item.path contains
                classes-path" | sort_natural: "title" %}
                {% assign thisYearsTimeslots =
                site.data.timeslots[current-year] %}
                
                {% for class in classes %}
                <div class="form-check mb-2">
                    <input type="checkbox" id="{{ class.label }}"
                           name="kurse[]"
                           value="{{ class.title-short }} ({{ class.lang }})"
                           class="form-check-input"
                           {% if class.full %}
                           disabled="disabled"
                           {% else %}
                           data-slots="{{ class.slots | join: ' ' }}"
                           {% endif %}
                           data-costs="{% if class.costs %}{{ class.costs }}{% else %}0{% endif %}"
                            />
                    <label for="{{ class.label }}" class="form-check-label">
                        {{ class.title }}
                        {% if class.full %}
                        <span class="text-warning">(ausgebucht)</span>
                        {% endif %}
                    </label>
                    <small class="form-text text-muted">Beginn:
                        {% assign startSlot =  class.slots[0] %}
                        {% assign endSlot =  class.slots.last %}

                        {% assign currentDate = thisYearsTimeslots[startSlot].date %}
                        {% include date-german.html date=currentDate
                        showDayOfWeek=true showDay=true %}
                        {{ formattedDate | truncatewords: 3, "" }},
                        {{ thisYearsTimeslots[startSlot].time_start }} Uhr
                        <br/>
                        {% if class.label == "ess-party" %}
                        Teilnahme auf eigene Kosten.
                        {% else %}
                        Ende:
                        {% assign currentDate = thisYearsTimeslots[endSlot].date %}
                        {% include date-german.html date=currentDate
                        showDayOfWeek=true showDay=true %}
                        {{ formattedDate | truncatewords: 3, "" }},
                        {{ thisYearsTimeslots[endSlot].time_end }} Uhr
                        <br/>
                        Teilnahmegebühr: {{ class.costs }}&thinsp;€
                        {% endif %}
                    </small>
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Ihre Kurse</legend>
                <div id="basket">
                    <div id="gebuehrDiv" class="form-group row">
                            <input type="hidden" name="gebuehr" id="gebuehr" class="form-control" readonly/>
                        <div class="col col-form-label">
                            Teilnahmegebühr: <span id="gebuehrSpan">0</span>&thinsp;€
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <fieldset class="mt-2">
                <legend>Persönliche Angaben</legend>

                <div id="vornameDiv" class="form-group row">
                    <label for="vorname" class="col-form-label col-sm-2">Vorname</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Ihr Vorname" name="vorname" id="vorname" class="form-control" required="required"/>
                        <div class="invalid-feedback">Wir benötigen Ihren Vornamen für die Anmeldung</div>
                    </div>
                </div>
                <div id="nachnameDiv" class="form-group row">
                    <label for="nachname" class="col-form-label col-sm-2">Nachname</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Ihr Nachname" name="nachname" id="nachname" class="form-control" required="required"/>
                        <div class="invalid-feedback">Wir benötigen Ihren Nachnamen für die Anmeldung</div>
                    </div>
                </div>
                <div id="emailDiv" class="form-group row">
                    <label for="email" class="col-form-label col-sm-2">E-Mail</label>
                    <div class="col-sm-10">
                        <input type="email" placeholder="Ihre E-Mail-Adresse" name="email" id="email" class="form-control" required="required"/>
                        <div class="invalid-feedback">Bitte geben Sie eine
                            gültige E-Mail-Adresse ein</div>
                    </div>
                </div>
                </fieldset>
            
            <fieldset>
                <legend><small>Studierende (UPB/HfM-DT)</small></legend>
                    <input type="checkbox" id="studi"
                        name="studierende"
                        value="ja"
                        class="form-check-input ml-1"
                    />
                <label for="studi" class="form-text text-muted ml-4 small">Ich bin an der Universität Paderborn oder der
                    Hochschule für Musik Detmold eingeschrieben und besuche die Kurse als Lehrveranstaltung.
                    <!--<br/>(Studierende der UPB melden sich bitte zusätzlich in PAUL zu den entsprechenden
                    Lehrveranstaltungen an.)--></label>
            </fieldset>

            <fieldset>
                <legend>Kommentar</legend>
                <textarea
                        placeholder="Sie können uns hier einen Kommentar hinterlassen" name="kommentar" id="kommentar" class="form-control" rows="3"></textarea>
            </fieldset>

            <fieldset>
                <legend><small>Datenschutz</small></legend>
                <input type="checkbox" id="disclamer"
                    name="disclamer"
                    value="ja"
                    class="form-check-input ml-1"
                    required="required"
                />
                <label for="disclamer" class="form-text text-muted ml-4 small">* Ich bin einverstanden, dass meine personenbezogenen Daten erhoben, gespeichert und verarbeitet werden. (Buchhaltung, Anwesenheitslisten, Teilnahmebescheinigungen u.ä.)</label>
                <small>Alle personenbezogenen Daten werden entsprechend den jeweils geltenden Vorschriften zum Schutz personenbezogener Daten, nur zum Zwecke der Tagungsorganisation und Abwicklung erhoben, verarbeitet und genutzt. Eine Weitergabe an Dritte erfolgt nicht.</small>
            </fieldset>

            <div class="row mt-3">
                <noscript
                        style="border: 1px solid red; padding: 2em;">Für die
                    korrekte Funktionsweise des Formulars wird Javascript
                    benötigt!</noscript>
                <script src="https://www.google.com/recaptcha/api.js" async
                        defer></script>
                <div class="g-recaptcha col"
                     data-sitekey="6LehmiYTAAAAACjoZFLWSSR8AVe44FXp3pwhIel3"></div>
                <div class="col mt-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Senden</button>
                </div>
            </div>

        </div>
    </div>
</form>

<script src=" {{ 'assets/js/ess.forms.js' | relative_url }} "></script>
