---
title: "Sponsoren & Partner"
description: Wir danken unseren Sponsoren für ihre Unterstützung bei der Edirom Summer School 
layout: default
card: false
---

<div class="container">
    <div class="row py-3">
        <h1 class="py-3 text-center">{{ page.title }}</h1>
        <p class="text-center">Wir danken unseren Sponsoren für ihre Unterstützung bei der Edirom Summer School!</p>
    </div>
    <div class="row py-3 justify-content-around">
        <hr/>
        <h2>Sponsoren</h2>
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <a class="m-1" href="https://text-plus.org/"
                target="_blank"><img width="125px"
                    src="{{ '/assets/img/textplus_logo_RGB.png' | relative_url }}"
                    alt="TextPlus Logo"/></a>
        </div>
    </div>
    <!--<div class="row py-3 justify-content-around align-items-center partner-logos">
        <hr/>
        <h2>Partner</h2>
        <div class="col-3">
            <a href="https://uni-paderborn.de/">
                <img src="{{ '/assets/img/UPB_LOGO_KOMP_RGB_GB_2015.svg' | relative_url }}" alt="UPB Logo"
                     class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://edirom.de/">
                <img src="{{ '/assets/img/ViFE-logo-485x255.jpg' | relative_url }}"
                     alt="ViFE Logo" class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://tei-c.org/">
                <img src="{{ '/assets/img/TEI-400.jpg' | relative_url }}" alt="TEI Logo"
                     class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://music-encoding.org/">
                <img src="{{ '/assets/img/meilogo.png' | relative_url }}"
                     alt="MEI Logo" class="img-fluid"/>
            </a>
        </div>
    </div>
    <div class="row py-3 justify-content-around align-items-center partner-logos">
        <div class="col-3">
            <a href="https://zenmem.de/">
                <img src="{{ '/assets/img/ZenMEM_dunkel.png' | relative_url }}" alt="ZenMEM Logo"
                     class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.sicp.de/">
                <img src="https://www.sicp.de/fileadmin/sicp/logo.png"
                     alt="SICP Logo" class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.dfg.de/">
                <img src="{{ '/assets/img/dfg_logo_englisch_blau_en_4c.svg' | relative_url }}"
                     alt="DFG Logo" class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.stiftung-westfalen.de/">
                <img src="{{ '/assets/img/SW_Logo.svg' | relative_url }}"
                     alt="Stiftung Westfalen Logo" class="img-fluid"/>
            </a>
        </div>
    </div>
    <div class="row py-3 justify-content-around align-items-center partner-logos">
        <div class="col-3">
            <a href="https://www.hni.uni-paderborn.de/">
                <img src="{{ '/assets/img/HNI-logo.png' | relative_url }}"
                     alt="HNI Logo"
                     class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.nfdi4culture.de/">
                <img src="{{ '/assets/img/nfdi4c.png' | relative_url }}"
                     alt="NFDI4Culture Logo" class="img-fluid"/>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.hnf.de/">
                <img src="{{ '/assets/img/Heinz-Nixdorf-MuseumsForum_logo.svg' | relative_url }}"
                     alt="HNF Logo" class="img-fluid"/>
            </a>
        </div>
    </div>-->
</div>
