// ESS brand color palette
$ess-gray:          rgb(237, 232, 220);
$ess-green-lighter: rgb(193, 207, 161);
$ess-green-light:   rgb(165, 182, 141);
$ess-green-medium:  rgb(83,  153,  14);
$ess-green-dark:    rgb(56,  101,  14);
$ess-sand:          rgb(237, 232, 220);
$ess-rose:          rgb(231, 204, 204);
$ess-rose-dark:     rgb(207, 152, 152);
