.post {
  figure {
    text-align: center;
    img {
      height: auto;
      width: 75%;
    }

    figcaption {
      font-size: smaller;
    }
  }
}

.schedule {
  .event {
    padding: 0 .6rem;
    border-radius: 5px;
    background-color: $gray-200;
    border: .5px solid #999999;
  }
}

.session {
  .chair {
    margin-bottom: 0;
  }
  .contribution {
    .authors {
      display: block;
    }
  }
}

// overwrite .btn-outline-room-measure for the front page
// since it features the same background color as the wrapping section.
#sessionteasers {
  .btn-outline-room-measure {
    --bs-btn-color: #{lighten($primary, 30%)};
    --bs-btn-border-color: #{lighten($primary, 30%)};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{lighten($primary, 30%)};
    --bs-btn-hover-border-color: #{lighten($primary, 30%)};
  }
}
