---
layout: default
title: "Kursprogramm ESS 2020"
year: 2020
programm_pdf: /2020/img/ESS2020_Programm.pdf
programm_img: /2020/img/ESS2020_Programm.png
---
<div>
	<div class="row justify-content-center">

		<div class="col" role="content">
			<h2>
				Kursprogramm 2020
			</h2>
			<p class="title" data-section-title="">
				Die Edirom Summer School 2020 findet in diesem Jahr vom <b>31. August bis 4. September</b> rein virtuell statt. Wir bitten Sie, sich zu den Workshops wie gewohnt anzumelden, damit wir deren Durchführung besser planen können. Die Registrierung wird ab Mitte Juli 2020 möglich sein, die Angaben zur technischen Durchführung etc. folgen spätestens Mitte August. Da wir uns leider in den Pausen nicht gemeinsam zu Kaffee/Tee/Saft/Obst/Kuchen etc. treffen können, erheben wir in diesem Jahr keine Gebühren.
			</p>
			<p>
				<!--Nach Abschluss der Planungen können Sie hier das Kursprogramm der 11. Edirom-Summer-School 2020 einsehen.-->
				Bitte folgen Sie uns auch auf <a href="https://twitter.com/edirom">Twitter</a> für aktuelle Ankündigungen.
				Die Programme der vergangenen Jahrgänge finden Sie im <a href="../archiv.html">Archiv</a>.
			</p>
		</div>
	</div>
	<div class="row my-4">
		{% assign classes = site.classes | where: "year", page.year %}
		<div class="col-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-overview" role="tab" aria-controls="overview">Übersicht</a>
				{% for class in classes %}
				<a class="list-group-item list-group-item-action" data-toggle="list" href="#list-{{ class.short }}" role="tab" aria-controls="{{ class.short }}">{{ class.title }} <small>({{ class.lang }})</small></a>
				{% endfor %}
			</div>
		</div>
		<div class="col-9">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="list-overview" role="tabpanel">
					<a href="{{ page.programm_pdf | relative_url }}" title="Edirom–Summer–School-Programm" target="_blank"><img class="img-fluid" src="{{ page.programm_img | relative_url }}" alt="Programmübersicht"/></a>
				</div>
				{% for class in classes %}
				<div class="tab-pane fade" id="list-{{ class.short }}" role="tabpanel">{{ class }}</div>
				{% endfor %}
			</div>
		</div>


	</div>
	<script type="application/javascript">
		$('#list-tab a').on('click', function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
	</script>
</div>
