---
layout: default
---

<section class="post">
    {% assign this_session = site.data.sessions | where: "paperIDs",  page.paperID %}
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1>{{ page.title }}</h1>
                <p class="mb-0"><b>Authors:</b> {{ page.authors | join: ' /
                    '}}</p>
                <p class="mb-0"><b>Date:</b>
                    {% if this_session[0] %}
                        {{ this_session[0].date | date: "%A, %-d %B %Y"  }},
                        {{ this_session[0].time }}
                    {% else %}
                        tba
                    {% endif %}
                </p>
                <p><b>Location:</b>
                    {% if this_session[0] %}
                        {{ this_session[0].location }}
                    {% else %}
                        tba
                    {% endif %}
                </p>
                {{ content }}
            </div>
            <div class="col-lg-2">
                <p><b>Contribution Type</b></p>
                <p><button type="button" class="btn btn-sm btn-primary"x>{{ page.contribution_type }}</button></p>
                <p><b>Keywords</b></p>
                <p>
                    {% for keyword in page.keywords %}
                    <button type="button" class="btn btn-sm btn-outline-vife-blue mb-1"x>{{ keyword }}</button>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
