name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' 
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: vifebot
          password: ${{ secrets.VIFEBOTS_GITHUB_TOKEN }}

      # Login to dhi.io registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry dhi.io
        if: github.event_name != 'pull_request' && github.actor != 'dependabot[bot]'
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: vifebot
          password: ${{ secrets.VIFEBOT_DOCKERHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ github.ref == 'refs/heads/main' }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.nginx
          #file: ./Dockerfile.apache
          build-args: BASE_IMAGE=dhi.io/nginx:1
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  clean:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
    steps:
      - name: ghcr.io cleanup action
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          package: ess-website
          delete-untagged: true
          dry-run: false
          validate: true
          older-than: 2 weeks
          token: ${{ secrets.GITHUB_TOKEN }}
